<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "opencart">

	<listeners>
		<listener class-name = "com.opencart.utilities.Reporting" />
	</listeners>

	<test name="test" >
		<parameter name = "browser" value="Chrome" />
		<classes>
		 <!--  
			<class name = "com.opencart.testCases.TC_Login_001" /> 
			<class name = "com.opencart.testCases.TC_LoginDDT_002" />   
			<class name = "com.opencart.testCases.TC_Register_003" />  
			<class name = "com.opencart.testCases.TC_RF_008" />  
			<class name = "com.opencart.testCases.TC_RF_012" />  
			<class name = "com.opencart.testCases.TC_FP_001" />  -->
			<class name = "com.opencart.testCases.TC_LG_002" />
			
		</classes>
	</test>
	
</suite>
	
